<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yx.dao.B1Mapper">

    <select id="queryB1ByName" parameterType="java.lang.String" resultType="com.yx.po.B1">
        select * from b1
            where name = #{name}
    </select>

    <insert id="insert" parameterType="com.yx.po.B1">
        insert into b1
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR},
                #{data,jdbcType=VARCHAR}, #{cause,jdbcType=INTEGER}, #{b11,jdbcType=INTEGER},
                #{b12,jdbcType=INTEGER}, #{b13,jdbcType=INTEGER}, #{b14,jdbcType=INTEGER},
                #{b15,jdbcType=INTEGER}, #{b16,jdbcType=VARCHAR}, #{b17,jdbcType=VARCHAR},
                #{b18,jdbcType=INTEGER}, #{b19,jdbcType=INTEGER}, #{b110,jdbcType=INTEGER},
                #{b111,jdbcType=INTEGER}, #{b1,jdbcType=INTEGER}, #{order,jdbcType=INTEGER},
                #{evaname,jdbcType=VARCHAR})
    </insert>

    <select id="queryB1ById" parameterType="java.lang.String" resultType="com.yx.po.B1">
        select *
        from b1
        where id = #{id};
    </select>

    <select id="queryB1ByIdcard" parameterType="java.lang.String" resultType="com.yx.po.B1">
        select *
        from b1
        where idcard = #{idcard}
    </select>


</mapper>